<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.coc.mapper.BoardMapper">
  <insert id="insertBoard">
  insert into BOARD (title, content, writer) values (#{title}, #{content}, #{writer})
  </insert>
  
  <select id="selectBoard" resultType="org.coc.domain.BoardVO">
  	select * from BOARD where bno = #{bno}
  </select>
  
  <select id ="selectAllBoard" resultType="org.coc.domain.BoardVO">
  <![CDATA[
  select * from BOARD where bno >0 order by bno desc, regdate desc
  ]]>
  </select>
  
  <update id="updateBoard">
  update BOARD set title=#{title}, content=#{content} where bno = #{bno}
  </update>
  
  <delete id="deleteBoard">
  delete from BOARD where bno = #{bno}
  </delete>
  
  <select id="listPage" resultType="org.coc.domain.BoardVO">
  	<![CDATA[
  		select * from BOARD where bno > 0 order by bno desc, regdate desc limit #{page}, 10
  	]]>
  </select>
  
  <select id ="listCriteria" resultType="BoardVO">
  <![CDATA[
  		select * from BOARD where bno > 0 order by bno desc, regdate desc limit #{pageStart}, #{perPageNum}
  	]]>
  </select>
  </mapper>
  